.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header{
  width: 100vw;
  height: 11vh;
  background-color: rgb(52,165,218);
  text-align: left;
  padding: 10px;
  align-items: center;
  padding-left: 4%;
}
.header > h3{
  margin-top: 20px;
  /* font-size: large; */
}

.background-box{
  width: 100vw;
  height: 89vh;
  background-color: rgb(34,34,34);
  /* padding: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.profile-container{
  width: 80%;
  height: 80%;
  background-color: white;
  display: flex;
  justify-content: left;
  padding-top: 35px;
  margin: 15px;
  
}
.previous-button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.next-button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
}

.button-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.page-counter{
  position: absolute;
  top: 260px;
  right: 200px;
  font-size: 65px;
  font-weight: bolder;
}

.profile-name{
 border-bottom: 1px solid turquoise;
 width: 150px;
 word-wrap: inherit;
}

